@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables";

// El siguiente código es para crear tabs verticales. Estas tabs se usan para mostrar los métodos de retiro/depósito
deposit-types-tabs {
  .nav {
  }
}

/**************************************************
                      basics
**************************************************/

.background-primary-a {
  background-color: $primary-a;
}

.background-secondary-a {
  background-color: $secondary-a;
}

.background-secondary-b {
  background-color: $secondary-b;
}

.secondary {
  color: $secondary-a;
}

/**************************************************
                      font-face
**************************************************/

// font blockletter (cuadrada deportiva)

@font-face {
  font-family: "blockLetter";
  font-style: normal;
  font-weight: normal;
  // todo falta importar a eot para internet IE 8-11
  src: local("blockLetter"), url("/font/blockLetter.otf") format("opentype");
}

// font helvetica neune

@font-face {
  font-family: "helveticaNeueLight";
  font-style: normal;
  font-weight: normal;
  // todo falta importar a eot para internet IE 8-11
  src: local("helveticaNeueLight"), url("/font/helveticaNeueLight.otf") format("opentype");
}

/**************************************************
                      body
**************************************************/

body {
  font-family: "blockLetter", Helvetica, Arial, sans-serif;
  color: $secondary-b !important;
  background-color: $secondary-a;

}

/**************************************************
                        h
**************************************************/

h1,
h2,
h3,
h4,
h5 {
  color: $secondary-b;
}

/**************************************************
                      input
**************************************************/

input {
  color: $secondary-b !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  border-radius: 0px !important;
  border-color: transparent !important;
  background-color: $secondary-c !important;
}

input:focus {
  outline: none !important;
  border: 1px solid $secondary-c !important;
  box-shadow: none !important;
}

// placeholder

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $secondary-b !important;
  font-weight: 100;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $secondary-b !important;
  font-weight: 100;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $secondary-b !important;
  font-weight: 100;
}

// Da estilo a los inputs que están mal llenados

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
}

.was-validated
.form-control:invalid,
.form-control.is-invalid,
.was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: $danger !important;
}

.was-validated
.form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: $danger !important;
  box-shadow: $danger !important;
}

/**************************************************
                        a
**************************************************/

a {
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: $primary-a !important;
  border: none !important;
  text-decoration: none;
  color: inherit;
  text-transform: none;
  margin: 0 !important;
}

/**************************************************
                    buttons
**************************************************/

.btn {
  border-radius: 0px;
  border: none;
}

.btn-primary {
  background-color: $secondary-c !important;
  color: $secondary-b !important;

  @include hover-focus {
    background-color: $primary-a !important;
  }
}

button:active {
  background-color: transparent !important;
}

/**************************************************
                No desbordar texto
**************************************************/

// Ajusta los textos muy largos paque no se desborden y no estropear los estilos

.no-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**************************************************
                      modal
**************************************************/

// El fondo que aparece atrás del modal
.modal {
  background-color: $primary-a;

  ///////////// <centrar> por si queremos una imagen atrás de los modales
  /*background:url(/img/fondo-2.jpg);
  background-size: cover;*/
  ///////////// </centrar>
}

@media screen and (min-width: 576px) {
  .modal {
    // forma de chevron

    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);


    // forma de estrella
    /*
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    */
  }
}


.modal-content {
  // border-color: $secondary-c;
  border-radius: 0px;

}

.modal-header,
.modal-body,
.modal-footer {
  background-color: $secondary-a;
  border-color: $secondary-a;
  border-radius: 0px;
}

/**************************************************
                      tabs
**************************************************/

.nav-link {
  color: $secondary-c;

  @include hover-focus {
    color: $secondary-c;
  }

}

// Se colorea el borde color blanco que viene por default (nav-tabs) en bootstrap

ul {
  border-bottom: 1px solid $secondary-a !important;
  background-color: $secondary-b !important;
}

/**************************************************
                      acordeon / card
**************************************************/

.card {
  border-color: $secondary-c;
  border-radius: 0px;
  background-color: $secondary-c !important;
}

.card > .card-header {

  background-color: $secondary-c !important;
  color: $secondary-b !important;
  border-color: transparent;
  border-radius: 0px;
}

.card-body {
  background-color: $secondary-c !important;
  color: $secondary-b;
}

deposit-types-tabs {

  .card > .card-header {
    background-color: $secondary-b !important;
    border-color: transparent !important;
    color: $secondary-c !important;
  }

  .card-body {
    background-color: $secondary-a !important;
    color: $secondary-c !important;
  }
}

/**************************************************
                      active
**************************************************/

.active {
  border-color: $secondary-a !important;;
  background-color: $secondary-a !important;
  color: $secondary-c !important;
}

.router-link-active {
  font-weight: bolder !important;
  color: $primary-a !important;
}

/**************************************************
                tache de modales
**************************************************/

.close {
  color: $secondary-b;
  text-shadow: none;

  @include hover-focus {
    color: $primary-a;
    text-decoration: none;
    box-shadow: none;
    border: none;
    // opacity: .75;
  }
}


/**************************************************
  pantallas/componentes que usan Helvetica Neue
**************************************************/

app-footer,
app-not-found,
app-policies,
app-notice-of-privacy,
app-reset-password,
app-verify-email,
ngb-alert {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/**************************************************
                    pendientes
**************************************************/

// Intentar unificar este active que se encuentra en las navegaciones del dashboard
.a-tag-active {
  font-weight: bolder;
}

// Este es muy importante, oculta elementos cuando se es responsive
@media screen and (max-width: 767px) {
  .hide-in-responsive {
    display: none !important;
  }
}
