// Colores primarios (usualmente colores de la marca)

// $primary-a: #ff4f28; fusilado de la página que hace ejemplos y que hace software
$primary-a: #B04534; // fusilado del video de tennis que me pasó juan


// Colores secundarios (colores normalmente en escala de grises para el texto, fondos, algunos títulos, subtítulos, etc)

$secondary-a: #0e1010;
$secondary-b: #ffffff;
$secondary-c: #2b2b2b;

// Colores terciarios (para alertas)

$danger: #d70921;
