// Colores primarios (usualmente colores de la marca)

$primary-a: #FF4D16;

// Colores secundarios (colores normalmente en escala de grises para el texto, fondos, algunos títulos, subtítulos, etc)

$secondary-a: #0E1010;
$secondary-b: #303030;
$secondary-c: #6f6f6f;
$secondary-d: #f3f3f3;

// Colores terciarios (para alertas)

$danger: #d70921
