<form [formGroup]="recoverPasswordFrm"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off">
  <div class="form-row">
    <div class="col-sm-12 mb-3">
      <label for="emailId">Email</label>
      <input id="emailId"
             type="email"
             name="email"
             class="form-control"
             [ngClass]="{'is-invalid': recoverPasswordFrm.get('email').invalid && !recoverPasswordFrm.get('email').pristine}"
             formControlName="email">
      <div class="invalid-feedback" *ngIf="recoverPasswordFrm.get('email').errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="recoverPasswordFrm.get('email').errors?.email">Invalid</div>
    </div>
    <!--ALERT-->
    <div class="col-sm-12 mb-3">
      <app-messages></app-messages>
    </div>
    <!--BUTTON-->
    <div class="col-sm-12 mb-3" *ngIf="showElements">
      <label>&nbsp;</label>
      <button type="submit"
              class="btn btn-primary form-control"
              [disabled]="recoverPasswordFrm.invalid">Send
      </button>
    </div>
  </div>
</form>

<!--
<br>[recoverPasswordFrm.value]<br>
<pre>{{recoverPasswordFrm.value | json}}</pre>

<br>[recoverPasswordFrm]<br>
<pre>{{recoverPasswordFrm.status | json}}</pre>

<br>[ventaPartidaOrden]:<br>
<pre>{{ventaPartidaOrden | json}}</pre>

<br>[ventaEntrega]:<br>
<pre>{{ventaEntrega | json}}</pre>
-->
