<section class="main-container">
  <div class="row">
    <div class="col-sm-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolores facilis illo necessitatibus nobis quia tempora tempore. Aut consectetur earum est eveniet ex illum molestiae, nostrum pariatur quas suscipit ullam.
    </div>
    <div class="col-sm-12">
      Adipisicing elit. Alias dolores facilis illo necessitatibus nobis quia tempora tempore. Aut consectetur earum est eveniet ex illum molestiae, nostrum pariatur quas suscipit ullam.
    </div>
    <div class="col-sm-12">
      Consectetur adipisicing elit. Alias dolores facilis illo necessitatibus nobis quia tempora tempore. Aut consectetur earum est eveniet ex illum molestiae, nostrum pariatur quas suscipit ullam.
    </div>
  </div>
</section>

