@import "../../variables";

.main-container {
  background:url(/img/pattern-9.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 56px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
    padding: 0px;
  }
}