<div class="row">
  <div class="col-12">
    <small>Reta a tu amigo a través de redes sociales:</small>
    <br><br>

    <app-social-share></app-social-share>

    <br>
    <small>O bien, comparte la URL:</small>

    <br>
    <br>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <app-show-url-form
              [URL]="URL">
            </app-show-url-form>
          </div>
        </div>
      </div>
    </div>

    <br>

    <small>La primera persona que acepte el reto jugará contigo</small>

  </div>
</div>