<div class="row">
  <div class="col-sm-12 p-1" *ngFor="let apiMatch of apiMatches">
    <div class="card no-overflow" [ngClass]="{'offline': apiMatch.status === 'full'}">
      <a class="card-body"
         routerLink="/app/leagues/{{apiMatch.l_id}}/match/{{apiMatch.id}}"
         routerLinkActive="disabled">

        <div class="row">
          <!--HOME-->
          <div class="col-sm-5 text-center">
            <br>
            {{apiMatch.h | uppercase}} <br>
            {{apiMatch.hg}}

          </div>
          <!--DATE-->
          <div class="col-sm-2">
            <div class="row">
              <div class="col-sm-12 text-center time">{{apiMatch.start | date: 'h:mm'}}</div>
              <div class="col-sm-12 text-center day">{{apiMatch.start | date: 'dd'}}</div>
              <div class="col-sm-12 text-center month">{{apiMatch.start | date: 'MMMM' | uppercase}}</div>
            </div>
          </div>
          <!--AWAY-->
          <div class="col-sm-5 text-center">
            <br>
            {{apiMatch.a | uppercase}} <br>
            {{apiMatch.ag}}

          </div>

        </div>
      </a>
    </div>
  </div>
</div>
