<div class="row">
  <div class="col-sm-12 p-1" *ngFor="let apiMatch of apiMatches">
    <div class="card no-overflow" [ngClass]="{'offline': apiMatch.status === 'full'}">
      <a class="card-body"
         routerLink="/app/leagues/{{apiMatch.l_id}}/match/{{apiMatch.id}}"
         routerLinkActive="disabled">
        <div class="row">
          <!--FECHA-->
          <div class="col-2 text-center">
            <small>
              <div class="text-center time">{{apiMatch.start | date: 'h:mm'}}</div>
            </small>
            <small>
              <div class="text-center day">{{apiMatch.start | date: 'dd'}}</div>
            </small>
            <small>
              <div class="text-center month">{{apiMatch.start | date: 'MMMM' | uppercase}}</div>
            </small>
          </div>
          <!--NOMBRES DE EQUIPO-->
          <div class="col-8 correct">
            {{apiMatch.h | uppercase}}<br>{{apiMatch.a | uppercase}}
          </div>
          <!--MARCADOR-->
          <div class="col-2 correct text-center">{{apiMatch.hg}}<br>{{apiMatch.ag}}</div>

        </div>
        <div class="row text-center no-pading-margin">
          <div class="col-2 no-pading-margin text-center">
            <!--PRÓXIMOS EVENTOS-->
            <span class="badge badge-primary"
                  *ngIf="apiMatch.status === null">Incoming
          </span>
            <!--EVENTOS QUE SE ESTÁN JUGANDO AHORA-->
            <span class="badge badge-secondary"
                  *ngIf="apiMatch.status != null && apiMatch.status != 'full'">Now !
          </span>
            <!--EVENTOS FINALIZADOS-->
            <span class="badge badge-warning"
                  *ngIf="apiMatch.status === 'full'">Finished
          </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
