@import "../../../../../../variables";

.card-body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $secondary-c !important;
}

.card:hover,
.card-body:hover {
  background-color: $primary-a !important;
  color: $secondary-b !important;
}

.card {
  color: $secondary-c;
  border-radius: 0px;
  border: none;
  background-color: $secondary-b;
}

.card-body {
  padding: 0px;

}

.offline {
  pointer-events: none;
  cursor: default;
}

.time {
  position: relative;
  top: 10px;
  letter-spacing: 1px;
}

.day {
  font-size: x-large;
}

.month {
  position: relative;
  bottom: 10px;
}


.row,
.col-sm-5,
.col-sm-2 {
  margin: 0px;
  padding: 0px;
  border: none;
}

.col-sm-5 {
  position: relative;
  bottom: 10px;
}

.correct {
  position: relative;
  top: 11px;

  font-size: larger;
}

.no-pading-margin {
  padding: 0px !important;
  margin: 0px !important;
  height: 0px;
}

/**************************************************
                  badge
**************************************************/

.badge {
  position: relative;
  bottom: 20px;
  padding-top: 2px;
  margin-top: 2px;
}

.badge-primary {
  border-radius: 0px;
  border-color: transparent;
  background-color: $primary-a;
  font-weight: 100;
  animation: blinker 3s cubic-bezier(.9, .9, .1, 4) infinite alternate;

  @keyframes blinker {
    to {
      opacity: 0;
    }
  }
}

.badge-secondary {
  border-radius: 0px;
  border-color: transparent;
  background-color: $primary-a;
  font-weight: 100;
  animation: blinker .2s cubic-bezier(.5, 0, 1, 1) infinite alternate;

  @keyframes blinker {
    to {
      opacity: 0;
    }
  }
}

.badge-warning {
  color: $secondary-b;
  border-radius: 0px;
  border-color: transparent;
  background-color: $primary-a;
  font-weight: 100;
}