<section>
  <div class="row fixed-bottom-header">
    <div class="col-sm-12 text-center">
      <a routerLink="/app/bet"
         routerLinkActive="router-link-active">open
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/app/leagues"
         routerLinkActive="router-link-active">create
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 p-1">
      <app-mail-alert-not-verified></app-mail-alert-not-verified>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
