@import "../../../variables";

.fijado-abajo-del-nabvar {
  position: fixed;
  top: 56px;
  right: 0;
  left: 0;
  z-index: 1000;
}

section {
  padding-top: 30px;
}

// Se repite este hover ya que es un componente especial de bootstrap

a:hover {
  border: none;
  text-decoration: none;
}

