@import "../../../../../../variables";

.dropdown-toggle::after {
  display: none;
}

.force-dropdown-menu-right {
  right: 0;
  left: auto !important; // Reset the default from `.dropdown-menu`
}

ul {
  position: relative;
  top: 10px;
  background-color: transparent !important;

  list-style-type: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;

}
