<ul class="float-right">
  <li>
    <div class="nav-item" ngbDropdown>
      <a ngbDropdownToggle>
        <i class="fa fa-fw fa-user"></i>
        <span class="hide-in-responsive">
          {{user.username}}
        </span>
      </a>
      <div class="dropdown-menu force-dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" (click)="openMyAccountModal()">Account</a>
        <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
        <div class="dropdown-divider"></div>
        <logout></logout>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a (click)="openATMModal()">
      &nbsp;&nbsp;&nbsp;&nbsp;<span class="hide-in-responsive"><i class="fas fa-money-check-alt"></i></span>&nbsp;&nbsp; 999,999.99
    </a>
  </li>
</ul>
