@import "../../../../../../variables";

.dropdown-toggle::after {
  display: none;
}

.force-dropdown-menu-right {
  right: 0;
  left: auto !important; // Reset the default from `.dropdown-menu`
}

ul {
  position: relative;
  top: 10px;

  list-style-type: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
@media screen and (max-width: 767px) {
  .hide-in-responsive {
    display: none !important;
  }
}

a {
  color: $secondary-c !important;
}