<form [formGroup]="passwordFrm"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off">
  <div class="form-row">
    <!--OLD PASSWORD-->
    <div class="col-sm-6 mb-3">
      <input id="oldPasswordId"
             type="password"
             name="oldPassword"
             class="form-control"
             placeholder="Old password"
             [ngClass]="{'is-invalid': passwordFrm.get('oldPassword').invalid && !passwordFrm.get('oldPassword').pristine}"
             formControlName="oldPassword">
      <div class="invalid-feedback" *ngIf="passwordFrm.get('oldPassword').errors?.required">required</div>
    </div>
    <!--NEW PASSWORD-->
    <div class="col-sm-6 mb-3">
      <input id="newPasswordId"
             type="password"
             name="newPassword"
             class="form-control"
             placeholder="New password"
             [ngClass]="{'is-invalid': passwordFrm.get('newPassword').invalid && !passwordFrm.get('newPassword').pristine}"
             formControlName="newPassword">
      <div class="invalid-feedback" *ngIf="passwordFrm.get('newPassword').errors?.required">required</div>
    </div>
    <!--MENSAJES-->
    <div class="col-sm-12 mb-3">
      <app-messages></app-messages>
    </div>
    <!--BUTTON-->
    <div class="col-sm-12 mb-3">
      <button type="submit"
              class="btn btn-primary form-control"
              [disabled]="passwordFrm.invalid">Save
      </button>
    </div>
  </div>
</form>

<!--
<br>[passwordFrm.value]<br>
<pre>{{passwordFrm.value | json}}</pre>

<br>[passwordFrm]<br>
<pre>{{passwordFrm.status | json}}</pre>

<br>[ventaPartidaOrden]:<br>
<pre>{{ventaPartidaOrden | json}}</pre>

<br>[ventaEntrega]:<br>
<pre>{{ventaEntrega | json}}</pre>
-->
