<div class="row">
  <div class="col-sm-4 p-1" *ngFor="let bet of bets$ | async">
    <div class="card">
      <a class="card-body adjust"
         routerLink="/app/bet/{{bet._id}}"
         routerLinkActive="disabled">
        <div class="row">
          <div class="col-6">
            <small>{{bet.matchStartDate | date: 'dd/MM/yyyy, h:mm'}}</small>
          </div>
          <div class="col-6 text-right">
            <small>{{bet.amountCreator}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-5">{{bet.home}}</div>
          <div class="col-2 text-center">vs</div>
          <div class="col-5 text-right">{{bet.away}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
