<div class="row">
  <!--FACEBOOK-->
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="facebook"
            [style.backgroundColor]="share.prop.facebook.color">
      <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
    </button>
  </div>
  <!--TWITTER-->
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="twitter"
            [style.backgroundColor]="share.prop.twitter.color">
      <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
    </button>
  </div>
  <!--PINTEREST-->
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="pinterest"
            [style.backgroundColor]="share.prop.pinterest.color">
      <fa-icon [icon]="share.prop.pinterest.icon" size="lg"></fa-icon>
    </button>
  </div>
  <!--GOOGLE-->
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="google"
            [style.backgroundColor]="share.prop.google.color">
      <fa-icon [icon]="share.prop.google.icon" size="lg"></fa-icon>
    </button>
  </div>
  <!--WHATSAPP-->
  <!--
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="whatsapp"
            [style.backgroundColor]="share.prop.whatsapp.color">
      <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
    </button>
  </div>
  -->
  <!--TELEGRAM-->
  <!--
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="telegram"
            [style.backgroundColor]="share.prop.telegram.color">
      <fa-icon [icon]="share.prop.telegram.icon" size="lg"></fa-icon>
    </button>
  </div>
  -->
  <!--VK-->
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="vk"
            [style.backgroundColor]="share.prop.vk.color">
      <fa-icon [icon]="share.prop.vk.icon" size="lg"></fa-icon>
    </button>
  </div>
  <!--REDDIT-->
  <!--
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="reddit"
            [style.backgroundColor]="share.prop.reddit.color">
      <fa-icon [icon]="share.prop.reddit.icon" size="lg"></fa-icon>
    </button>
  </div>
  -->
  <!--TUMBLR-->
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="tumblr"
            [style.backgroundColor]="share.prop.tumblr.color">
      <fa-icon [icon]="share.prop.tumblr.icon" size="lg"></fa-icon>
    </button>
  </div>
  <!--XING-->
  <!--
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="xing"
            [style.backgroundColor]="share.prop.xing.color">
      <fa-icon [icon]="share.prop.xing.icon" size="lg"></fa-icon>
    </button>
  </div>
  -->
  <!--SMS-->
  <!--
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="sms"
            [style.backgroundColor]="share.prop.sms.color">
      <fa-icon [icon]="share.prop.sms.icon" size="lg"></fa-icon>
    </button>
  </div>
  -->
  <!--EMAIL-->
  <!--
  <div class="col-2 p-2">
    <button class="btn btn-block"
            mat-fab
            shareButton="email"
            [style.backgroundColor]="share.prop.email.color">
      <fa-icon [icon]="share.prop.email.icon" size="lg"></fa-icon>
    </button>
  </div>
  -->
</div>
