<div class="row">
  <div class="offset-sm-3 col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="betO2O">
        <div class="row text-center">
          <div class="col-12">
            Creada por: {{betO2O.creatorUserId}}
          </div>
          <div class="col-12">
            <span class="amount">
              {{betO2O.amount | currency}}
            </span>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-5">
                {{betO2O.home}} <br>
                <span *ngIf="betO2O.forecastCreator === 'home'">
                  {{betO2O.forecastCreator}}
                </span>
              </div>
              <div class="col-2">
                Vs
                <!--TODO Aquí va la fecha, al parecer con childrens o algo, mientras le pongo Vs-->
                  <!--
                  <small>
                    <div class="text-center time">{{apiMatch.start | date: 'h:mm'}}</div>
                  </small>
                  <small>
                    <div class="text-center day">{{apiMatch.start | date: 'dd'}}</div>
                  </small>
                  <small>
                    <div class="text-center month">{{apiMatch.start | date: 'MMMM' | uppercase}}</div>
                  </small>
                  -->
              </div>
              <div class="col-5">
                {{betO2O.away}} <br>
                <span *ngIf="betO2O.forecastCreator === 'away'">
                  {{betO2O.forecastCreator}}
                </span>
              </div>
              <div class="col-12" *ngIf="userId && betO2O.oponentUserId">
                <h3>Mostrar esto sólo cuando ya se haya aceptado.</h3>
              </div>
              <div class="col-12" *ngIf="userId && betO2O.creatorUserId != userId && !betO2O.oponentUserId">
                <app-accept-bet [userId]="userId" [betId]="betId"></app-accept-bet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--

<pre>{{betO2O | json}}</pre>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body text-center" *ngIf="betO2O">
        <small>Creado por: {{betO2O.creatorUserId}}</small>
        <h4>{{betO2O.home}}&nbsp;Vs&nbsp;{{betO2O.away}}</h4>
        <small>{{betO2O.matchStartDate}}</small>
        <h6>Cantidad: ${{betO2O.amount}}</h6>
        <div *ngIf="userId && betO2O.oponentUserId">
          <h3>Solo cuando ya se ha aceptado</h3>
        </div>
        <div *ngIf="betO2O.creatorUserId === userId && !betO2O.oponentUserId">
          <app-share-bet></app-share-bet>
        </div>
        <div *ngIf="userId && betO2O.creatorUserId != userId && !betO2O.oponentUserId">
          <app-accept-bet [userId]="userId" [betId]="betId"></app-accept-bet>
        </div>
      </div>
    </div>
  </div>
</div>
-->
