<div class="row">
  <div class="offset-sm-3 col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="betO2O">
        <div class="row text-center">
          <div class="col-12 font-helvetica-neue">
            <small>Creada por: {{betO2O.creatorUserId}}</small>
          </div>
          <div class="col-12">
            <span class="amount">
              {{betO2O.amount | currency}}
            </span>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-5">
                {{betO2O.home}} <br>
                <span *ngIf="betO2O.forecastCreator === 'home'">
                  {{betO2O.forecastCreator}}
                </span>
              </div>
              <div class="col-2">
                Vs
                <!--TODO Aquí va la fecha, al parecer con childrens o algo, mientras le pongo Vs-->
                <!--
                  <small>
                    <div class="text-center time">{{apiMatch.start | date: 'h:mm'}}</div>
                  </small>
                  <small>
                    <div class="text-center day">{{apiMatch.start | date: 'dd'}}</div>
                  </small>
                  <small>
                    <div class="text-center month">{{apiMatch.start | date: 'MMMM' | uppercase}}</div>
                  </small>
                  -->
              </div>
              <div class="col-5">
                {{betO2O.away}} <br>
                <span *ngIf="betO2O.forecastCreator === 'away'">
                  {{betO2O.forecastCreator}}
                </span>
              </div>
              <!--COMPARTIR APUESTA-->
              <!--Mostrar sólo al crear y cuando la apuesta no esté aceptada-->
              <div class="col-12 font-helvetica-neue" *ngIf="betO2O.creatorUserId === userId && !betO2O.oponentUserId">
                <app-share-bet
                [URL]="shareURL">
                </app-share-bet>
              </div>
              <!--APUESTA ACEPTADA-->
              <!--Mostrar sólo cuando esté aceptada -->
              <div class="col-12" *ngIf="userId && betO2O.oponentUserId">
                <h3>Tal vez aquí podríamos poner lo de 'crear apuesta similar'</h3>
              </div>
              <!--ACEPTAR APUESTA-->
              <!--Mostrar sólo cuando el usuario esté logeado y no sea el creador-->
              <div class="col-12" *ngIf="userId && betO2O.creatorUserId != userId && !betO2O.oponentUserId">
                <app-accept-bet [userId]="userId" [betId]="betId"></app-accept-bet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>