@import "../../../variables";

.footer {
  color: $secondary-b;
  background-color: $primary-a;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scrollable {
  height: 50%;
  padding: 15px;

  -ms-overflow-x: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow: scroll;
}