@import "../../../variables";

.footer {
  color: $secondary-b;
  background-color: $primary-a;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;

  a:hover {
    color: $secondary-a !important;
    font-weight: bolder;
  }

  .active {
    color: $secondary-a !important;
    font-weight: bolder;
  }
}

.background-footer {
  padding: 0px;
  margin: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scrollable {
  height: 50%;
  padding: 15px;

  -ms-overflow-x: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow: scroll;
}

