<small>
  <div class="row">
    <div class="col-sm-12 p-1">Balance <span class="pull-right">$5,000.00</span></div>
    <div class="col-sm-12 p-1">Acive <span class="pull-right">200</span></div>
    <div class="col-sm-12 p-1">Won <span class="pull-right">200</span></div>
    <div class="col-sm-12 p-1">Won <span class="pull-right">$200.00</span></div>
    <div class="col-sm-12 p-1">Lost<span class="pull-right">100</span></div>
    <div class="col-sm-12 p-1">Lost<span class="pull-right">$100.00</span></div>
    <div class="col-sm-12 p-1">Draw<span class="pull-right">100</span></div>
    <div class="col-sm-12 p-1">Pending<span class="pull-right">500</span></div>
    <div class="col-sm-12 p-1">Total<span class="pull-right">1000</span></div>
  </div>
</small>