<div class="modal-header" *ngIf="betO2O$">
  <h4 class="modal-title">{{betO2O$._id}}</h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="betO2O$">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <p>
        Home: <span class="float-right">{{betO2O$.home}}</span> <br>
        Away: <span class="float-right">{{betO2O$.away}}</span> <br>
        Match Start Date: <span class="float-right">{{betO2O$.matchStartDate | date: 'dd/MM/yyyy, h:mm'}}</span> <br>
        Score Home: <span class="float-right">{{betO2O$.scoreHome}}</span> <br>
        Score Away: <span class="float-right">{{betO2O$.scoreAway}}</span> <br>
        Amount: <span class="float-right">{{betO2O$.amount}}</span> <br>
        Forecast Creator: <span class="float-right">{{betO2O$.forecastCreator}}</span> <br>
        Creator UserId: <span class="float-right">{{betO2O$.creatorUserId}}</span> <br>
        Creation Date: <span class="float-right">{{betO2O$.creationDate | date: 'dd/MM/yyyy, h:mm'}}</span> <br>
        Oponent UserId: <span class="float-right">{{betO2O$.oponentUserId}}</span> <br>
        Accept Date: <span class="float-right">{{betO2O$.acceptDate | date: 'dd/MM/yyyy, h:mm'}}</span> <br>
        Forecast Oponent: <span class="float-right">{{betO2O$.forecastOponent}}</span> <br>
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          (click)="activeModal.dismiss('Cross Click')">Close
  </button>
</div>