<form [formGroup]="createBetFrm" (ngSubmit)="create()" novalidate autocomplete="off">
  <div class="form-row mb-1 text-center">
    <div class="col-sm-12 mb-1">
      <p>
        Choose your team
      </p>
      <div class="btn-group btn-group-toggle d-flex"
           ngbRadioGroup
           name="radioBasic"
           formControlName="forecastCreator">
        <label ngbButtonLabel class="btn-primary w-100">
          <input ngbButton
                 name="forecastCreator"
                 formControlName="forecastCreator"
                 type="radio"
                 [value]="'home'">
          {{apiMatch.h}}
        </label>
        <label ngbButtonLabel
               class="btn-primary w-100">
          <input ngbButton
                 name="forecastCreator"
                 formControlName="forecastCreator"
                 type="radio"
                 [value]="'away'">
          {{apiMatch.a}}
        </label>
      </div>
    </div>
    <!--FECHA-->
    <div class="col-sm-12 mb-1 text-center">
      <div class="text-center">{{apiMatch.start | date: 'dd'}} {{apiMatch.start | date: 'MMMM' | uppercase}} {{apiMatch.start | date: 'h:mm'}}</div>
    </div>
    <div class="col-sm-12 mb-1">
      <!--{{createBetFrm.value['forecastCreator']}}-->
    </div>
    <!--CANTIDAD A APOSTAR-->
    <div class="offset-sm-3 col-sm-6 mb-1">
      <input id="amountId"
             type="number"
             name="amount"
             placeholder="Enter the amount"
             formControlName="amount"
             class="form-control text-center"
             [ngClass]="{'is-invalid': createBetFrm.get('amount').invalid
             && !createBetFrm.get('amount').pristine}">
      <div class="invalid-feedback" *ngIf="createBetFrm.get('amount').errors?.required">Required</div>
      <div class="invalid-feedback" *ngIf="createBetFrm.get('amount').errors?.amountInvalid">Chip limit exceeded
        Buy more.
      </div>
      <div class="invalid-feedback" *ngIf="createBetFrm.get('amount').errors?.min">The minimun match is $100 coins</div>
    </div>
    <!--BUTTON-->
    <div class="offset-sm-3 col-sm-6 mb-1">
      <br>
      <button type="submit"
              class="btn btn-primary"
              [ngClass]="{'disabled': createBetFrm.invalid}"
              [disabled]="createBetFrm.invalid || !userId">
        Create bet
      </button>
    </div>
    <div class="col-sm-12 mb-1">
      <app-messages></app-messages>
    </div>
  </div>
</form>