<form [formGroup]="resetPasswordFrm"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off">
  <div class="form-row">
    <div class="col-sm-12 mb-3" *ngIf="showElements">
      <label for="passwordId">Password</label>
      <input id="passwordId"
             type="password"
             name="password"
             class="form-control"
             [ngClass]="{'is-invalid': resetPasswordFrm.get('password').invalid && !resetPasswordFrm.get('password').pristine}"
             formControlName="password">
      <div class="invalid-feedback" *ngIf="resetPasswordFrm.get('password').errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="resetPasswordFrm.get('password').errors?.password">Invalid</div>
    </div>
    <!--MENSAJES-->
    <div class="col-sm-12 mb-3">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type"
                   [dismissible]="false">
          {{alert.message}}
        </ngb-alert>
      </p>
    </div>
    <!--BUTTON-->
    <div class="col-sm-12 mb-3" *ngIf="showElements">
      <label>&nbsp;</label>
      <button type="submit"
              class="btn btn-primary form-control"
              [disabled]="resetPasswordFrm.invalid">Send
      </button>
    </div>
  </div>
</form>

<!--

<br>[resetPasswordFrm.value]<br>
<pre>{{resetPasswordFrm.value | json}}</pre>

<br>[resetPasswordFrm]<br>
<pre>{{resetPasswordFrm.status | json}}</pre>

<br>[ventaPartidaOrden]:<br>
<pre>{{ventaPartidaOrden | json}}</pre>

<br>[ventaEntrega]:<br>
<pre>{{ventaEntrega | json}}</pre>
-->
