<div class="row">
  <div class="col-sm-12 p-1" *ngFor="let league of leagues | async">
    <a class="card" routerLink="/app/leagues/{{league.apiLeagueId}}/matches">
      <div class="card-body no-overflow">
        <div class="row">
          <div class="col-sm-12">
            <p class="title">
              {{league.name | uppercase}}
            </p>
            <p class="subtitle">
              {{league.apiLeagueId}}
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
