@import "../../../../../../variables";


.card-body {
  padding: .5rem;
}

.card:hover,
.card-body:hover {
  background-color: $primary-a !important;
}

.title {
  font-size: x-large;
  margin: 0px;
  padding: 0px;
  border: none;
  font-weight: bolder;
}

.subtitle {
  font-size: smaller;
  color: $secondary-c;
  margin: 0px;
  padding: 0px;
  border: none;
  margin-top: -9px !important;
  margin-bottom: 11px !important;
}
