<form [formGroup]="registerFrm"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off">
  <div class="form-row">
    <!--NOMBRE-->
    <div class="col-sm-6 mb-3">
      <input id="nameId"
             type="text"
             name="name"
             class="form-control"
             placeholder="Name"
             [ngClass]="{'is-invalid': registerFrm.get('name').invalid && !registerFrm.get('name').pristine}"
             formControlName="name">
      <div class="invalid-feedback" *ngIf="registerFrm.get('name').errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('name').errors?.pattern">Just letters</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('name').errors?.maxlength">30 characters maximum</div>
    </div>
    <!--APELLIDOS-->
    <div class="col-sm-6 mb-3">
      <input id="lastNameId"
             type="text"
             name="lastName"
             class="form-control"
             placeholder="Last name"
             [ngClass]="{'is-invalid': registerFrm.get('lastName').invalid && !registerFrm.get('lastName').pristine}"
             formControlName="lastName">
      <div class="invalid-feedback" *ngIf="registerFrm.get('lastName').errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('lastName').errors?.pattern">just letters</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('lastName').errors?.maxlength">30 characters maximum</div>
    </div>
    <!--NICKNAME-->
    <div class="col-sm-6 mb-3">
      <input id="usernameId"
             type="text"
             name="username"
             class="form-control"
             placeholder="Nickname"
             [ngClass]="{'is-invalid': registerFrm.get('username').invalid && !registerFrm.get('username').pristine}"
             formControlName="username">
      <div class="invalid-feedback" *ngIf="registerFrm.get('username').errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('username').errors?.pattern">Just numbers & letters</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('username').errors?.maxlength">30 characters maximum</div>
    </div>
    <!--FECHA DE NACIMIENTO-->
    <div class="col-sm-6 mb-3">
      <div class="input-group">
        <input id="birdDateId"
               class="form-control"
               type="text"
               name="birdDate"
               placeholder="BirdDate (yyyy-mm-dd)"
               [ngClass]="{'is-invalid': registerFrm.get('birdDate').invalid && !registerFrm.get('birdDate').pristine}"
               formControlName="birdDate"
               ngbDatepicker
               [minDate]="minDate"
               [maxDate]="maxDate"
               maxDate="2010-01-01"
               #d="ngbDatepicker">
        <div class="input-group-append">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button"
                    (click)="d.toggle()">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
        </div>
        <div class="invalid-feedback" *ngIf="registerFrm.get('birdDate').errors?.required">required</div>
      </div>
    </div>
    <!--EMAIL-->
    <div class="col-sm-6 mb-3">
      <input id="emailId"
             type="email"
             name="email"
             placeholder="Email"
             class="form-control"
             [ngClass]="{'is-invalid': registerFrm.get('email').invalid && !registerFrm.get('email').pristine}"
             formControlName="email">
      <div class="invalid-feedback" *ngIf="registerFrm.get('email').errors?.required">required</div>
      <div class="invalid-feedback" *ngIf="registerFrm.get('email').errors?.email">invalid</div>
    </div>
    <!--PASSWORD-->
    <div class="col-sm-6 mb-3">
      <input id="passwordId"
             type="password"
             name="password"
             class="form-control"
             placeholder="Password"
             [ngClass]="{'is-invalid': registerFrm.get('password').invalid && !registerFrm.get('password').pristine}"
             formControlName="password">
      <div class="invalid-feedback" *ngIf="registerFrm.get('password').errors?.required">required</div>
    </div>
    <!--MENSAJES-->
    <div class="col-sm-12 mb-3">
      <app-messages></app-messages>
    </div>
    <!--BUTTON-->
    <div class="col-sm-12 mb-3">
      <p class="font-helvetica-neue">
        <small>
          <!--Al hacer click en registrar confirmas que has leido nuestro aviso de privacidad y aceptas las condisiones de uso.-->
          <!--By clicking register button you confirm that you have read our
          <a target="_blank" routerLink="/notice-of-privacy">Privacy Notice</a>
          and accept the
          <a target="_blank" routerLink="/policies">Terms of Use</a>.-->

          <!--We may use your email for notifications on Apst's products and services.
          You can unsubscribe for free at any time in your notification preferences. <br>-->
          By signing in, you confirm that you have read our
          <a target="_blank" routerLink="/notice-of-privacy">Privacy Notice</a> and you agree to our
          <a target="_blank" routerLink="/policies">Terms of Use</a>.
        </small>
      </p>
      <button type="submit"
              class="btn btn-primary form-control"
              [disabled]="registerFrm.invalid">Register
      </button>
    </div>
  </div>
</form>

<!--
<br>[registerFrm.value]<br>
<pre>{{registerFrm.value | json}}</pre>

<br>[registerFrm]<br>
<pre>{{registerFrm.status | json}}</pre>

<br>[ventaPartidaOrden]:<br>
<pre>{{ventaPartidaOrden | json}}</pre>

<br>[ventaEntrega]:<br>
<pre>{{ventaEntrega | json}}</pre>
-->
